body, html
{
    margin: 0;
    padding: 0;
}

#start-screen
{
    background-color: aqua;
}

.startscreen-logo
{
    display: block;
    margin: 0 auto;
}

.startscreen-button
{
    text-align: center;
}

#customization-screen
{
    display: none;
}