html, body
{
    margin: 0;
    padding: 0;
    background-color: #181549;
}

.startscreen-logo
{
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 40%;
}


h1
{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
}

h2
{
    color: white;
    font-family: 'Poppins', sans-serif;
}

.wrapper
{
    margin-top: 8em;
    text-align: center;
}

.wrapper2
{
    margin-top: 15em;
    text-align: center;
}

.wrapper3
{
    text-align: center;
}

#startscreen-button
{
    background-color: #362E74;
    font-family: 'Poppins', sans-serif;
    border: none;
    color: white;
    cursor: pointer;
    padding: 25px 65px;
    font-size: 1.6em;
    border-radius: 20px;
}

#joinButton
{
    background-color: #362E74;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: white;
    cursor: pointer;
    padding: 25px 65px;
    font-size: 1.6em;
    border-radius: 20px;
}

#tryagainButton
{
    background-color: #362E74;
    font-family: 'Poppins', sans-serif;
    border: none;
    color: white;
    cursor: pointer;
    padding: 25px 65px;
    font-size: 1.6em;
    border-radius: 20px;
}

.bird-icon
{
    display: block;
    margin: 0 auto;
    margin-top: 1em;
    width: 80%;
}

.bird-icon2
{
    display: block;
    margin-left: 10em;
    margin-top: 5em;
    width: 55%;
}

.nameField
{
    border: none;
    font-family: 'Poppins', sans-serif;
    background: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    height: 30px;
    padding: 15px;
    width: 200px;
    line-height: 100%;
    height: 100%;
    font-size: 14px;
    display: block;
    margin: 0 auto;
    margin-top: 15%;
}

#buttonUp
{
    background-color: #ffea00;
    border: none;
    color: black;
    padding: 45px 55px;
    font-size: 1.3em;
    margin-top: -0.5em;
}

#buttonRight
{
    background-color: #ffea00;
    border: none;
    color: black;
    padding: 45px 55px;
    font-size: 1.3em;
    margin-left: -0.2em;
}

#buttonLeft
{
    background-color: #ffea00;
    border: none;
    color: black;
    padding: 45px 55px;
    font-size: 1.3em;
    margin-right: -0.2em;
}

#playerName
{
    position: absolute;
    top: 25%;
    left: 10%;
}

#playerScore
{
    position: absolute;
    color: white;
    font-size: 2em;
    position: absolute;
    top: 35%;
    left: 10%;
}